In [1]:
# Import the libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import IFrame
import folium
from folium.plugins import MarkerCluster
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error,  r2_score
from sklearn.preprocessing import StandardScaler 
from sklearn.tree import DecisionTreeRegressor

In [2]:
#import the dataset
df = pd.read_csv(r'C:\Users\tanmi\Downloads\NYPDD.csv')
display(df.tail(20))

C:\Users\tanmi\AppData\Local\Temp\ipykernel_37324\272328561.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\tanmi\Downloads\NYPDD.csv')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1967084,02/05/2023,18:56,QUEENS,11373.0,40.733906,-73.871780,"(40.733906, -73.87178)",NaN,NaN,90-01 QUEENS BOULEVARD,...,Driver Inattention/Distraction,NaN,NaN,NaN,4603432,Sedan,Sedan,NaN,NaN,NaN
1967085,02/01/2023,17:00,NaN,NaN,40.687180,-73.799140,"(40.68718, -73.79914)",INWOOD STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4603789,Sedan,NaN,NaN,NaN,NaN
1967086,02/05/2023,11:25,BRONX,10469.0,40.861115,-73.854910,"(40.861115, -73.85491)",YATES AVENUE,WARING AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4603528,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1967087,02/02/2023,20:50,NaN,NaN,40.847310,-73.914900,"(40.84731, -73.9149)",WEST 174 STREET,GRAND AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4603654,Sedan,Sedan,NaN,NaN,NaN
1967088,02/05/2023,7:15,NaN,NaN,40.660150,-73.853330,"(40.66015, -73.85333)",BELT PARKWAY,NaN,NaN,...,Obstruction/Debris,Unspecified,Unspecified,Unspecified,4603318,Pick-up Truck,Sedan,Sedan,Station Wagon/Sport Utility Vehicle,Sedan
1967089,02/05/2023,0:30,MANHATTAN,10003.0,40.731964,-73.988160,"(40.731964, -73.98816)",EAST 12 STREET,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4603227,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1967090,01/31/2023,0:00,MANHATTAN,10040.0,40.857980,-73.930910,"(40.85798, -73.93091)",WEST 193 STREET,BROADWAY TERRACE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4603716,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1967091,02/04/2023,20:20,NaN,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4603797,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1967092,02/05/2023,1:29,QUEENS,11101.0,40.742874,-73.933945,"(40.742874, -73.933945)",VANDAM STREET,47 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4603383,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1967093,02/05/2023,19:39,BRONX,10469.0,40.871544,-73.848370,"(40.871544, -73.84837)",NaN,NaN,1306 EAST GUN HILL ROAD,...,Other Vehicular,Unspecified,NaN,NaN,4603364,Sedan,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
1967094,02/03/2023,16:12,NaN,NaN,40.674397,-73.896515,"(40.674397, -73.896515)",LIBERTY AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4603748,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1967095,02/05/2023,23:58,BROOKLYN,11226.0,40.645130,-73.948975,"(40.64513, -73.948975)",BEVERLEY ROAD,NOSTRAND AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4603501,Sedan,Sedan,NaN,NaN,NaN
1967096,02/05/2023,20:39,BROOKLYN,11206.0,40.701912,-73.936990,"(40.701912, -73.93699)",BUSHWICK AVENUE,FLUSHING AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4603618,Sedan,Bike,NaN,NaN,NaN
1967097,02/04/2023,3:30,NaN,NaN,40.724200,-73.937650,"(40.7242, -73.93765)",VANDERVORT AVENUE,MEEKER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4603871,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1967098,02/04/2023,20:53,QUEENS,11419.0,40.688040,-73.832750,"(40.68804, -73.83275)",101 AVENUE,111 STREET,NaN,...,NaN,NaN,NaN,NaN,4603641,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1967099,02/05/2023,17:55,NaN,NaN,40.710500,-73.771194,"(40.7105, -73.771194)",JAMAICA AVENUE,HOLLIS AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4603452,Sedan,Taxi,NaN,NaN,NaN
1967100,01/25/2023,1:55,NaN,NaN,NaN,NaN,NaN,BAILEY AVENUE,VANCORTLANDT PARK WEST,NaN,...,NaN,NaN,NaN,NaN,4603842,Sedan,NaN,NaN,NaN,NaN
1967101,02/03/2023,22:00,NaN,NaN,40.766350,-73.951030,"(40.76635, -73.95103)",FDR DRIVE,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,4603860,Sedan,Sedan,Sedan,NaN,NaN
1967102,02/03/2023,12:30,BROOKLYN,11204.0,40.613808,-73.992260,"(40.613808, -73.99226)",NaN,NaN,7201 19 AVENUE,...,Unspecified,NaN,NaN,NaN,4603881,Sedan,NaN,NaN,NaN,NaN
1967103,02/05/2023,18:45,BRONX,10454.0,40.803593,-73.919785,"(40.803593, -73.919785)",BRUCKNER BOULEVARD,SAINT ANNS AVENUE,NaN,...,NaN,NaN,NaN,NaN,4603565,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [4]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           611358
ZIP CODE                          611594
LATITUDE                          225710
LONGITUDE                         225710
LOCATION                          225710
ON STREET NAME                    410477
CROSS STREET NAME                 728791
OFF STREET NAME                  1648998
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6058
CONTRIBUTING FACTOR VEHICLE 2     296584
CONTRIBUTING FACTOR VEHICLE 3    1828789
CONTRIBUTING FACTOR VEHICLE 4    1936274
CONTRIBUTING FACTOR VEHICLE 5    1958826
COLLISION_ID                           0
VEHICLE TYPE CODE 1                11950
VEHICLE TYPE CODE 2               360355
VEHICLE TYPE CODE 3              1833449
VEHICLE TYPE CODE 4              1937279
VEHICLE TYPE CODE 5              1959067
dtype: int64

## Data Preprocessing

In [5]:
df.columns = df.columns.str.replace(" ", "_")
df.columns

Index(['CRASH_DATE', 'CRASH_TIME', 'BOROUGH', 'ZIP_CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON_STREET_NAME', 'CROSS_STREET_NAME',
       'OFF_STREET_NAME', 'NUMBER_OF_PERSONS_INJURED',
       'NUMBER_OF_PERSONS_KILLED', 'NUMBER_OF_PEDESTRIANS_INJURED',
       'NUMBER_OF_PEDESTRIANS_KILLED', 'NUMBER_OF_CYCLIST_INJURED',
       'NUMBER_OF_CYCLIST_KILLED', 'NUMBER_OF_MOTORIST_INJURED',
       'NUMBER_OF_MOTORIST_KILLED', 'CONTRIBUTING_FACTOR_VEHICLE_1',
       'CONTRIBUTING_FACTOR_VEHICLE_2', 'CONTRIBUTING_FACTOR_VEHICLE_3',
       'CONTRIBUTING_FACTOR_VEHICLE_4', 'CONTRIBUTING_FACTOR_VEHICLE_5',
       'COLLISION_ID', 'VEHICLE_TYPE_CODE_1', 'VEHICLE_TYPE_CODE_2',
       'VEHICLE_TYPE_CODE_3', 'VEHICLE_TYPE_CODE_4', 'VEHICLE_TYPE_CODE_5'],
      dtype='object')

## Check for missing value

In [7]:
df.isnull().sum()

CRASH_DATE                             0
CRASH_TIME                             0
BOROUGH                           611358
ZIP_CODE                          611594
LATITUDE                          225710
LONGITUDE                         225710
LOCATION                          225710
ON_STREET_NAME                    410477
CROSS_STREET_NAME                 728791
OFF_STREET_NAME                  1648998
NUMBER_OF_PERSONS_INJURED             18
NUMBER_OF_PERSONS_KILLED              31
NUMBER_OF_PEDESTRIANS_INJURED          0
NUMBER_OF_PEDESTRIANS_KILLED           0
NUMBER_OF_CYCLIST_INJURED              0
NUMBER_OF_CYCLIST_KILLED               0
NUMBER_OF_MOTORIST_INJURED             0
NUMBER_OF_MOTORIST_KILLED              0
CONTRIBUTING_FACTOR_VEHICLE_1       6058
CONTRIBUTING_FACTOR_VEHICLE_2     296584
CONTRIBUTING_FACTOR_VEHICLE_3    1828789
CONTRIBUTING_FACTOR_VEHICLE_4    1936274
CONTRIBUTING_FACTOR_VEHICLE_5    1958826
COLLISION_ID                           0
VEHICLE_TYPE_CODE_1                11950
VEHICLE_TYPE_CODE_2               360355
VEHICLE_TYPE_CODE_3              1833449
VEHICLE_TYPE_CODE_4              1937279
VEHICLE_TYPE_CODE_5              1959067
dtype: int64

## # Group by Borough and suming total killed and injured